/* .App {
  text-align: center;
  max-width: 300px;
  margin: 20px auto;
}
Form {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  margin-top: -300px;
}
.Developers {
  position: relative;
  top: -250px;
  right: 450px;
}
.Developers2 {
  position: relative;
  top: -435px;
  right: -420px;
}
.DevHeader {
  font-weight: bold;
  font-size: 25px;
  font-style: italic;
}
.DevHeader2 {
  font-weight: bold;
  font-size: 25px;
  font-style: italic;
}
.Dev1 {
  position: relative;
  top: 200px;
  left: 250px;
}
.Dev2 {
  position: relative;
  top: 0.1px;
  left: 575px;
}
.Dev3 {
  position: relative;
  top: -200px;
  left: 850px;
}
.Dev4 {
  position: relative;
  top: -400px;
  left: 1150px;
} */
